---
import Navbar from "../../components/Navbar";
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title";
import Skills from "../../components/Skills.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import "@fontsource/roboto";
import projects from "../../utils/projectList";
import "../../styles/base.css";
---

<Layout title="Victor Hugo Buntrok">
  <Navbar client:load />
  <div class="h-screen flex flex-col gap-6 justify-center items-center">
    <Title client:load />
    <div class="flex space-x-8 md:space-x-16 pt-4">
      <a
        href="https://github.com/Grellheist"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="devicon-github-original text-4xl md:text-5xl hover:text-accent cursor-pointer"
        ></i>
      </a>
      <a
        href="https://www.linkedin.com/in/victorbuntrok/"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="devicon-linkedin-plain text-4xl hover:text-accent md:text-5xl cursor-pointer"
        ></i>
      </a>
      <a
        href="mailto:victorbuntrok@outlook.com"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="fa fa-envelope text-4xl hover:text-accent md:text-5xl cursor-pointer"
          aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div id="about" class="flex flex-col justify-center gap-12 p-12 md:h-screen">
    <h1
      class="pt-12 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      About me
    </h1>
    <div class="text-lg lg:text-xl gap-6 flex flex-col lg:pl-24 lg:pr-24 mb-12">
      <p>
        My name is Victor Hugo Buntrok, but my friends usually call me just
        Hugo. Currently a Network Administrator and a soon-to-be Computer
        Engineer with a passion for programming. I'm a quick learner and I'm
        always striving to be the best. I'm a dedicated problem-solver, and I
        thrive on finding innovative solutions to real-world challenges.
      </p>
      <p>
        I have a bunch of hobbies - maybe too many, but I like to keep myself
        busy. When I'm not programming, I'm an avid audiophile, cinephile, and
        love playing games. I also enjoy tinkering with custom keyboards and
        building budget servers out of old computers.
      </p>
      <p>
        I usually solve problems by myself, but I am also a very good team
        player. I'm determined to excel and bring out the best in myself and
        those around me. I am confident that I can be a valuable asset to any
        web development team.
      </p>
      <span class="flex justify-center">
        <a
          class="rounded-lg px-4 py-2 transform font-semibold border transition duration-300 shadow hover:shadow-md hover:shadow-accent hover:bg-primary hover:text-accent"
          href="/files/curriculum.pdf"
          download="Victor Hugo Buntrok - EN.pdf"
        >
          Download CV
        </a>
      </span>
    </div>
  </div>
  <div id="skills" class="h-screen p-12 flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Skills
    </h1>
    <div class="flex overflow-x-hidden">
      <Skills />
      <Skills />
    </div>
  </div>
  <div id="projects" class="flex-grow flex flex-col gap-12 justify-center">
    <h1
      class="pt-24 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Projects
    </h1>
    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </div>
</Layout>
