---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title";
import "@fontsource/roboto";
---

<Layout title="Victor Hugo Buntrok">
  <Title client:load />
  <div id="about">
    <h1 class="flex justify-center text-3xl lg:text-5xl font-bold text-accent">About me</h1>
    <p>
      My name is Victor Hugo Buntrok, but my friends usually call me just Hugo.
      Currently a Network Administrator with a passion for programming. I'm a
      quick learner and I'm always striving to be the best.
    </p>
  </div>
</Layout>
<style>
  body {
    font-family: "Roboto", sans-serif;
  }
</style>
