---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title";
import "@fontsource/roboto";
---

<Layout title="Victor Hugo Buntrok">
  <Title client:load />
  <div class="h-screen"></div>
  <div id="about" class="flex flex-col gap-6 bg-secondary p-12">
    <h1
      class="pt-12 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      About me
    </h1>
    <p class="text-lg">
      My name is Victor Hugo Buntrok, but my friends usually call me just Hugo.
      Currently a Network Administrator and a soon to be Computer Engineer with
      a passion for programming. I'm a quick learner and I'm always striving to
      be the best. I'm a dedicated problem-solver, and I thrive on finding
      innovative solutions to real-world challenges.
    </p>
    <p class="text-lg">
      I have a bunch of hobbies - maybe too many. I'm an avid audiophile,
      cinephile, and love playing games. I also love tinkering with custom
      keyboards and building budget servers out of old computers.
    </p>
    <p class="text-lg">
      I usually solve problems by myself, but I am also a very good team player.
      I'm determined to excel and bring out the best in myself and those around
      me. I am confident that I can be a valuable asset to any web development
      team.
    </p>
  </div>
  <div id="skills" class="h-screen">
  </div>
  <div id="projects">
  </div>
</Layout>
<style>
  body {
    font-family: "Roboto", sans-serif;
  }
</style>
