---
import Navbar from "../components/NavbarBR";
import Layout from "../layouts/Layout.astro";
import Title from "../components/TitleBR";
import Skills from "../components/Skills.astro";
import ProjectCard from "../components/ProjectCardBR.astro";
import "@fontsource/roboto";
import projects from "../utils/projectListBR";
import "../styles/base.css";
---

<Navbar client:load />
<Layout title="Victor Hugo Buntrok">
  <div class="h-screen flex flex-col gap-6 justify-center items-center">
    <Title client:load />
    <div class="flex space-x-8 md:space-x-16 pt-4">
      <a
        href="https://github.com/Grellheist"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="devicon-github-original text-4xl md:text-5xl hover:text-accent cursor-pointer"
        ></i>
      </a>
      <a
        href="https://www.linkedin.com/in/victorbuntrok/"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="devicon-linkedin-plain text-4xl hover:text-accent md:text-5xl cursor-pointer"
        ></i>
      </a>
      <a
        href="mailto:victorbuntrok@outlook.com"
        target="_blank"
        rel="noreferrer"
        aria-label=""
      >
        <i
          class="fa fa-envelope text-4xl hover:text-accent md:text-5xl cursor-pointer"
          aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div id="about" class="flex flex-col justify-center gap-12 p-12 md:h-screen">
    <h1
      class="pt-12 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Sobre mim
    </h1>
    <div class="text-lg lg:text-xl gap-6 flex flex-col lg:pl-24 lg:pr-24 mb-12">
      <p>
        Meu nome é Victor Hugo Buntrok, mas meus amigos geralmente me chamam só
        de Hugo. Atualmente sou um Administrador de Redes e um futuro Engenheiro
        da Computação com paixão por programação. Tenho aprendizado rápido e
        estou sempre tentando ser o melhor no que faço. Sou um resolvedor de
        problemas dedicado e eu adoro encontrar soluções inovativas pra
        problemas reais.
      </p>
      <p>
        Tenho vários hobbies - talvez até demais, mas gosto de me manter
        ocupado. Quando não estou programando, sou um audiófilo, cinéfilo e
        gosto de jogar. Também gosto de mexer em teclados mecânicos customizados
        e fazer PCs antigos virarem servidores.
      </p>
      <p>
        Normalmente resolvo problemas sozinho, mas também sou um bom jogador em
        equipe. Estou sempre determinado a me destacar e a trazer o melhor de
        mim e das pessoas ao meu redor. Tenho certeza que eu seria uma peça
        valiosa para uma equipe de Desenvolvimento Web.
      </p>
      <span class="flex justify-center">
        <a
          class="px-4 py-2 transform font-semibold border transition duration-300 shadow hover:shadow-md hover:shadow-accent hover:bg-primary hover:text-black"
          href="/files/curriculo.pdf"
          download="Victor Hugo Buntrok.pdf"
        >
          Baixar Currículo
        </a>
      </span>
    </div>
  </div>
  <div id="skills" class="h-screen p-12 flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Habilidades
    </h1>
    <div class="flex overflow-x-hidden">
      <Skills />
      <Skills />
    </div>
  </div>
  <div id="projects" class="flex-grow flex flex-col gap-12 justify-center">
    <h1
      class="pt-24 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Projetos
    </h1>
    <div class="flex justify-evenly">
      <div class="inline lg:hidden">
        {
          projects
            .slice(0, 1)
            .map((project) => <ProjectCard project={project} />)
        }
      </div>
      <div class="hidden lg:flex xl:hidden space-x-8">
        {
          projects
            .slice(0, 2)
            .map((project) => <ProjectCard project={project} />)
        }
      </div>
      <div class="hidden xl:inline-flex space-x-8">
        {
          projects
            .slice(0, 3)
            .map((project) => <ProjectCard project={project} />)
        }
      </div>
    </div>
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </div>
</Layout>
