---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title";
import "@fontsource/roboto";
---

<Layout title="Victor Hugo Buntrok">
  <div class="h-screen flex justify-center items-center">
    <Title client:load />
  </div>
  <div
    id="about"
    class="flex flex-col justify-center gap-12 bg-secondary p-12 md:h-screen"
  >
    <h1
      class="pt-12 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      About me
    </h1>
    <div class="text-lg lg:text-xl gap-6 flex flex-col lg:pl-24 lg:pr-24 mb-12">
      <p>
        My name is Victor Hugo Buntrok, but my friends usually call me just
        Hugo. Currently a Network Administrator and a soon-to-be Computer
        Engineer with a passion for programming. I'm a quick learner and I'm
        always striving to be the best. I'm a dedicated problem-solver, and I
        thrive on finding innovative solutions to real-world challenges.
      </p>
      <p>
        I have a bunch of hobbies - maybe too many, but I like to keep myself
        busy. When I'm not programming, I'm an avid audiophile, cinephile, and
        love playing games. I also enjoy tinkering with custom keyboards and
        building budget servers out of old computers.
      </p>
      <p>
        I usually solve problems by myself, but I am also a very good team
        player. I'm determined to excel and bring out the best in myself and
        those around me. I am confident that I can be a valuable asset to any
        web development team.
      </p>
    </div>
  </div>
  <div id="skills" class="h-screen p-12 flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Skills
    </h1>
    <p>
      Tailwind, Typescript, Javascript, C, Rust, Python, Bootstrap, React,
      NextJS, Astro, Vercel, Git, Linux, Docker, SST, Vue, Svelte
    </p>
  </div>
  <div id="projects" class="h-screen flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Projects
    </h1>
  </div>
</Layout>
<style>
  body {
    font-family: "Roboto", sans-serif;
  }
</style>
