---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title";
import DemoAccount from "../components/DemoAccount";
import whisker from "/projects/whisker.png";
import "@fontsource/roboto";
import "../styles/base.css";
---

<Layout title="Victor Hugo Buntrok">
  <div class="h-screen flex justify-center items-center">
    <Title client:load />
  </div>
  <div
    id="about"
    class="flex flex-col justify-center gap-12 bg-secondary p-12 md:h-screen"
  >
    <h1
      class="pt-12 mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      About me
    </h1>
    <div class="text-lg lg:text-xl gap-6 flex flex-col lg:pl-24 lg:pr-24 mb-12">
      <p>
        My name is Victor Hugo Buntrok, but my friends usually call me just
        Hugo. Currently a Network Administrator and a soon-to-be Computer
        Engineer with a passion for programming. I'm a quick learner and I'm
        always striving to be the best. I'm a dedicated problem-solver, and I
        thrive on finding innovative solutions to real-world challenges.
      </p>
      <p>
        I have a bunch of hobbies - maybe too many, but I like to keep myself
        busy. When I'm not programming, I'm an avid audiophile, cinephile, and
        love playing games. I also enjoy tinkering with custom keyboards and
        building budget servers out of old computers.
      </p>
      <p>
        I usually solve problems by myself, but I am also a very good team
        player. I'm determined to excel and bring out the best in myself and
        those around me. I am confident that I can be a valuable asset to any
        web development team.
      </p>
    </div>
  </div>
  <div id="skills" class="h-screen p-12 flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Skills
    </h1>
    <p>
      Tailwind, Typescript, Javascript, C, Rust, Python, Bootstrap, React,
      NextJS, Astro, Vercel, Git, Linux, Docker, SST, Vue, Svelte
    </p>
  </div>
  <div id="projects" class="h-screen flex flex-col gap-12 justify-center">
    <h1
      class="mb-6 flex justify-center text-3xl lg:text-5xl font-bold text-accent"
    >
      Projects
    </h1>
    <div class="flex justify-center">
      <div
        class="max-w-sm rounded overflow-hidden shadow-md shadow-accent bg-secondary"
      >
        <img
          class="w-full pointer-events-none"
          src={whisker}
          alt="Whisker project"
        />
        <div class="px-6 py-4 flex-1 flex flex-col">
          <div class="font-bold text-xl md:text-2xl mb-2">Whisker</div>
          <p class="text-md md:text-lg">
            Whisker is a social media Website, and a Twitter Clone. It was
            designed to copy Twitter's layout and design, and it has Tweets (or
            Meows), Likes and Comments as functionalities. <span
              class="font-bold"
              >You need to be logged in to see the functionalities.
            </span>
          </p>
          <DemoAccount
            client:load
            demoAccount={{ username: "demo123", password: "Jj@7TsFk" }}
          />
        </div>
        <div class="px-6 pt-4 pb-2">
          <div class="flex flex-wrap space-x-2 mt-5 pointer-events-none">
            <h2 class="inline-block mb-3 text-xl font-bold leading-5">
              Technologies:
            </h2>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              TailwindCSS
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              NextJS
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              Typescript
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              Clerk
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              Prisma
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              MySQL
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              RadixUI
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              Vercel
            </span>
            <span
              class="px-2 py-1 mb-2 mr-2 text-xs md:text-sm font-semibold text-white bg-accent rounded-full"
            >
              PlanetScale
            </span>
          </div>
          <div class="flex flex-wrap space-x-2 mt-5 mb-2">
            <a
              href="https://whisker-network.vercel.app/"
              target="_blank"
              rel="noreferrer"
              aria-label=""
              class="inline-flex px-4 py-2 items-center transform font-semibold border transition duration-300 shadow hover:shadow-lg hover:bg-primary hover:text-black"
            >
              Live Demo
            </a>
            <a
              href="https://github.com/Grellheist/whisker"
              target="_blank"
              rel="noreferrer"
              aria-label=""
              class="inline-flex border hover:bg-primary shadow hover:shadow-lg px-4 py-2 items-center font-semibold transition duration-300 hover:text-black"
            >
              Source Code
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    body {
      font-family: "Roboto", sans-serif;
    }
  </style>
</Layout>
